.roadmapPostStatuses {
  @extend .d-flex !optional;
  @extend .flex-row !optional;
  @extend .flex-wrap !optional;

  min-height: 150px;
  box-sizing: border-box;
  border: 2px dotted transparent;
  border-radius: 0.5rem;

  &.isDraggingSomething {
    border-color: black;
  }

  &.isDraggingOver {
    background-color: rgba(255, 255, 0, 0.2);
  }

  .roadmapPostStatus {
    @extend .card !optional;
    @extend .m-2 !optional;
    @extend .p-0 !optional;

    @include media-breakpoint-down(sm) {
      flex: 0 0 100%;
    }

    box-sizing: border-box;
    flex: 0 0 28%;
    background-color: var(--astuto-grey-light);
    overflow: hidden;
    height: 150px;

    &.headerOnly { height: fit-content; }
    
    &.notDragging { transform: none !important; }

    .roadmapPostStatusHeader {
      @extend .d-flex !optional;
      @extend .flex-row !optional;
      @extend .card-header !optional;

      color: white;
      padding: 8px 4px;
      text-transform: uppercase;

      .titleText {
        @extend .align-self-center !optional;
      }
    }
  }
}

#roadmapEmbedCode {
  @extend .mt-4 !optional;
}