.previewStyling {
  @extend .mt-4 !optional;
  @extend .p-3 !optional;

  max-height: 400px;
  max-width: 600px;

  background-color: #f4f4f4;

  border-radius: 8px;
}

a.backButton {
  @extend .mb-2 !optional;
  @extend .align-self-start !optional;

  font-size: 18px;
}

.webhooksIndexPage {
  .webhooksTitle {
    @extend .d-flex !optional;
    @extend .mb-2 !optional;

    button {
      @extend .ml-2 !optional;

      height: min-content;
    }
  }

  .webhooksList {
    @extend .pl-1 !optional;

    list-style: none;

    h4 {
      @extend .mb-0 !optional;
      @extend .mt-2 !optional;
    }
    ul { @extend .pl-0 !optional; }

    .webhookListItem {
      @extend .d-flex !optional;
      @extend .justify-content-between !optional;
      @extend .mb-2 !optional;
      @extend .p-2 !optional;

      .webhookInfo {
        @extend .d-flex !optional;

        column-gap: 32px;

        .webhookName { font-size: 18px; }
        .webhookDescription {
          @extend .mutedText !optional;
          @extend .mb-1 !optional;
          font-size: smaller;
        }
      }
      
      .webhookActions {
        @extend .d-flex !optional;

        align-self: center;
      }
    }
  }
}

.webhookFormPage {
  #httpBody {
    min-height: 200px;
  }
  
  .httpBodyActions {
    @extend .d-flex !optional;
    @extend .justify-content-between !optional;
    @extend .mt-1 !optional;

    div:first-child {
      min-width: 250px;
    }
  }
  
  .previewHttpBody {
    display: block;
    text-align: right;
  }

  .urlAndHttpBodyPreview {
    @extend .mt-3 !optional;

    #preview {
      @extend .previewStyling !optional;
      margin-top: 0 !important;
    }
  }

  .formGroupHttpHeaders {
    @extend .mb-0 !optional;

    div.formRow { @extend .mb-0 !optional; }

    div.formRow:last-child {
      div.formGroup { @extend .mb-1 !optional; }
    }
  }

  .deleteHeaderActionLinkContainer {
    @extend .d-flex !optional;
    @extend .align-self-end !optional;
  }

  .submitWebhookFormButton { @extend .mt-4 !optional; }
}

.webhookTestPage {
  .webhookActions {
    @extend .d-flex !optional;
  }

  .webhookTestResponse {
    @extend .mt-4 !optional;

    #testHttpResponse { @extend .previewStyling !optional; }
  }
}