.feedbackModerationContainer {
  .badges {
    @extend .d-flex !optional;
    @extend .flex-row !optional;
    @extend .flex-wrap !optional;

    row-gap: 8px;
  }

  .changeFeedbackModerationSettingsLink {
    @extend .align-self-auto !optional;
    @extend .mt-2 !optional;
  }

  .filterModerationFeedbackNav {
    @extend .nav !optional;
    @extend .nav-pills !optional;
    @extend .align-self-center !optional;
    @extend .px-2 !optional;
    @extend .py-1 !optional;
    @extend .mt-4 !optional;

    background-color: var(--astuto-grey-light);
    border-radius: 0.5rem;

    .nav-item {
      cursor: pointer;
    }

    .nav-link {
      @extend .px-3 !optional;
      @extend .py-1 !optional;

      color: var(--astuto-black);

      &.active {
        color: var(--astuto-black);
        background-color: white;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      }
    }
  }

  .emptyList {
    @extend .mt-4 !optional;
    @extend .mb-2 !optional;

    text-align: center;
  }

  .feedbackModerationList {
    .feedbackListItem {
      @extend .d-flex !optional;
      @extend .flex-row !optional;
      @extend .justify-content-between !optional;
      @extend .my-4 !optional;
      @extend .mx-2 !optional;
      @extend .p-2 !optional;

      .feedbackListItemIconAndContent {
        @extend .d-flex !optional;

        .feedbackListItemIcon {
          @extend .align-self-center !optional;
        }
        
        .feedbackListItemContent {
          @extend .ml-4 !optional;
  
          .feedbackListItemTitle {
            @extend .font-weight-bold !optional;
            @extend .mb-1 !optional;

            &:hover {
              cursor: pointer;
              text-decoration: underline;
            }
          }

          .feedbackListItemDescription {
            color: var(--astuto-grey);
          }
        }
      }

      .feedbackListItemActions {
        @extend .d-flex !optional;
      }
    }
  }
}