.newInvitationsBox {
  textarea#body {
    height: 280px;
  }

  .submitFormDiv {
    button {
      @extend .mr-4 !optional;

      vertical-align: text-bottom;
    }

    .testInvitation {
      @extend .mt-2 !optional;
      
      display: inline-block;
  
      a.actionLink { display: inline-block; }
    }
  }
}

.pastInvitationsBox {
  .filterInvitationsNav {
    @extend .nav !optional;
    @extend .nav-pills !optional;
    @extend .align-self-center !optional;
    @extend .px-2 !optional;
    @extend .py-1 !optional;
    @extend .mt-4 !optional;
  
    background-color: var(--astuto-grey-light);
    border-radius: 0.5rem;
  
    .nav-item {
      cursor: pointer;
    }
  
    .nav-link {
      @extend .px-3 !optional;
      @extend .py-1 !optional;
  
      color: var(--astuto-black);
  
      &.active {
        color: var(--astuto-black);
        background-color: white;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      }
    }
  }
  
  ul.invitationsList {
    @extend .scroll-shadows !optional;
    @extend .mt-4 !optional;
    @extend .pl-0 !optional;
  
    list-style: none;
    max-height: 500px;
    overflow-y: scroll;
  
    li.invitationListItem {
      @extend .d-flex !optional;
      @extend .justify-content-between !optional;
      @extend .my-2 !optional;
      @extend .p-2 !optional;
  
      div.invitationUserInfo {
        @extend .d-flex !optional;
  
        span.invitationEmail {
          @extend .align-self-center !optional;
          @extend .ml-4 !optional;
  
          font-size: 18px;
        }
      }
  
      div.invitationInfo {
        @extend .d-flex !optional;
  
        span.invitationAcceptedAt, 
        span.invitationSentAt, 
        span.invitationExpired {
          @extend .align-self-center !optional;
          @extend .mutedText !optional;
        }

        span.invitationExpired {
          @extend .text-danger !optional;
        }
      }
    }
  }
}