.userCount {
  text-transform: lowercase;
}

ul.usersList {
  @extend .pl-1 !optional;

  list-style: none;

  li.userEditable {
    @extend .d-flex !optional;
    @extend .justify-content-between !optional;
    @extend .my-2 !optional;
    @extend .p-3 !optional;

    .userAvatar {
      @extend .mr-3 !optional;
      @extend .align-self-center !optional;
    }

    .userFullName {
      font-size: 18px;
    }

    .userInfo {
      @extend .d-flex !optional;

      .userFullNameRoleStatus {
        @extend .d-flex !optional;
        @extend .flex-column !optional;
      }
    }

    .userEditableActions {
      @extend .d-flex !optional;
      @extend .align-self-center !optional;
    }

    .userForm {
      @extend .d-flex !optional;

      .userFullNameRoleForm {
        @extend .d-flex !optional;
        @extend .flex-column !optional;
      }
    }

    .updateUserButton {
      @extend .align-self-center !optional;
      margin-left: 16px;
    }

    .userStatusblocked { color: orange; }
    .userStatusdeleted { color: red; }
  }
}