.billingContainer {
  max-width: 640px;
  margin: 0 auto;

  h2 { @extend .mb-4 !optional; }

  .billingStatusBadge {
    @extend .badge !optional;
    @extend .badgeLight !optional;
    @extend .p-2 !optional;
    @extend .ml-1 !optional;
    @extend .mr-1 !optional;
  
    width: fit-content;
    text-transform: uppercase;
  }

  .billingStatusBadgeExpired {
    color: white;
    background-color: $danger;
  }
  
  .pricingTable {
    @extend .d-flex !optional;
    @extend .flex-column !optional;
    @extend .mt-4 !optional;
    @extend .mb-4 !optional;

    h3 { text-align: center; }

    .pricingPlansNav {
      @extend .nav !optional;
      @extend .nav-pills !optional;
      @extend .align-self-center !optional;
      @extend .px-2 !optional;
      @extend .py-1 !optional;
      @extend .mt-2 !optional;

      background-color: var(--astuto-grey-light);
      border-radius: 0.5rem;

      .yearlyPlanDiscount {
        @extend .ml-2 !optional;
        color: red;
      }

      li.nav-item {
        width: 130px;
      }

      a {
        @extend .px-3 !optional;
        @extend .py-1 !optional;

        color: var(--astuto-black);
        cursor: pointer;
        text-align: center;

        &::first-letter { text-transform: uppercase; }
      }

      a.nav-link.active {
        color: var(--astuto-black);
        background-color: white;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      }
    }

    .pricingTableColumn {
      @extend .card !optional;
      @extend .my-2 !optional;
      @extend .p-4 !optional;

      width: 100%;
      max-width: 400px;
      margin: 0 auto;

      .priceContainer {
        @extend .d-flex !optional;
        @extend .justify-content-between !optional;

        .price {
          .amount { font-size: 36px; }
        }
        .priceYearly {
          @extend .align-self-end !optional;

          .amount { font-size: 26px; }
        }

        .price, .priceYearly {
          .amount { font-weight: 700; }
          .currency { text-transform: uppercase; }
        }
      }
    }
  }

  .checkoutContainer {
    @extend .mt-4 !optional;

    a { display: block; text-align: center; }

    #checkout { @extend .my-2 !optional; }
  }

  .billingUsefulLinks {
    @extend .d-flex !optional;
    @extend .mt-4 !optional;
    
    margin: 0 auto;

    a { @extend .mx-2 !optional; }
  }
}