.boardContainer {
  @extend .twoColumnsContainer;

  @include media-breakpoint-down(sm) {
    .postStatusFilterContainer {
      flex-direction: row !important;
      flex-wrap: wrap;
    }

    .postList { width: 100%; }
  }

  .newPostContainer {
    background-color: var(--astuto-grey-light);
    text-align: center;

    .boardTitle {
      font-size: 25px;
      font-weight: 600;
    }

    .boardDescription {
      @extend .mutedText !optional;
    }

    .newPostForm {
      @extend .mt-4 !optional;
      @extend .mb-2 !optional;

      #postDescription {
        height: 100px;
        min-height: 100px;
        resize: vertical;
      }

      .form-group-dnf {
        margin: 0;
        padding: 0;
        height: 1px;

        /* honeypot field 1 */
        #email {
          visibility: hidden;
          height: 1px;
        }
      }

      /* honeypot field 2 */
      #name {
        position: absolute;
        left: -9999px;
      }
    }

    .anonymousFeedbackLink {
      @extend .my-2 !optional;
    }

    /* style lists */
    ul {
      width: fit-content;
      margin: 0 auto;
      margin-bottom: 1rem;
      li {
        text-align: left;
        position: relative;
        left: -8px;
      }
    }
  }
  
  .sidebarFilters {
    @extend .m-0 !optional;
    @extend .p-0 !optional;
  }

  .postStatusListItemContainer {
    @extend .d-flex !optional;
    @extend .align-self-stretch !optional;
  }

  .postStatusListItemLink {
    @extend .flex-grow-1 !optional;

    &:hover { text-decoration: none; }
  }

  .postStatusListItem {
    @extend .p-1 !optional;

    height: 40px;

    &:hover {
      filter: brightness(85%);
      cursor: pointer;
    }

    span.badge {
      display: block; font-size: 15px;
    }
  }

  .postStatusListItemSelected {
    filter: brightness(85%);
  }

  .resetFilter {
    @extend .flex-grow-0 !optional;
    @extend .flex-shrink-0 !optional;
    @extend .rounded-circle !optional;
    @extend .align-self-center !optional;
    @extend .p-0 !optional;

    width: 30px;
    height: 30px;
    font-weight: bold;
  }

  .dateFilterBox {
    label { @extend .m-0 !optional; }
    #startDateFilter, #endDateFilter { @extend .mb-1 !optional; }
  }

  .postList {
    @extend .d-flex !optional;
    @extend .flex-column !optional;
    @extend .flex-grow-1 !optional;
  }

  .postListItem {
    @extend .card3D !optional;
    @extend .d-flex !optional;
    @extend .flex-row !optional;
    @extend .justify-content-start !optional;
    @extend .mb-3 !optional;
    @extend .p-3 !optional;

    min-height: 140px;
    color: var(--astuto-black);

    @include media-breakpoint-down(sm) {
      height: auto;
    }

    &:hover { cursor: pointer; }

    .postContainer {
      @extend .d-flex !optional;
      @extend .flex-column !optional;
      @extend .justify-content-between !optional;
    }
  }

  .postTitle {
    @extend .font-weight-bold !optional;
    @extend .mb-2 !optional;
  }

  .postDetails {
    @extend .d-flex !optional;
    @extend .justify-content-start !optional;
    @extend .text-uppercase !optional;
    @extend .mt-2 !optional;

    .badge {
      @extend .mr-2 !optional;
    }
  }
}