.newCommentForm {
  @extend .d-flex !optional;
  @extend .flex-column !optional;
  @extend .mt-4 !optional;

  .newCommentBodyForm {
    @extend .d-flex !optional;
  }

  .newCommentFooter {
    @extend .d-flex !optional;
    @extend .justify-content-between !optional;
    @extend .align-items-center !optional;

    .attachFilesSection {
      margin-left: 58px;
      margin-top: 1rem;
    }
  }

  .commentIsUpdateForm {
    @extend .d-flex !optional;
    @extend .flex-column !optional;
    @extend .align-self-start !optional;
    @extend .mt-3 !optional;

    &.commentIsUpdateFormWithAttachment {
      margin-right: 108px;
      .checkboxSwitch { align-self: flex-end; }
    }
    &.commentIsUpdateFormWithoutAttachment {
      margin-left: 58px;
      .checkboxSwitch { align-self: flex-start; }
    }
  }

  .currentUserAvatar {
    @extend .avatar !optional;
    @extend .align-self-end !optional;
    @extend .mr-2 !optional;
  }

  .submitCommentButton {
    @extend .align-self-end !optional;

    box-sizing: border-box;
    width: 120px;
    height: 40px;
  }
}