.likeButtonContainer {
  @extend .d-flex !optional;
  @extend .flex-column !optional;
  @extend .mr-3 !optional;

  .likeButton:hover {
    cursor: pointer;
    transform: scale(1.15);
  }

  .likeCountLabel {
    @extend .mt-2 !optional;
    text-align: center;
  }

  .likeCountLabel-medium { font-size: 18px; }
  .likeCountLabel-large { font-size: 22px; }
}