/*
  This styles apply to custom texts defined in  
  /app/javascript/components/shared/CustomTexts.tsx
*/

.titleText {
  @extend .font-weight-bolder !optional;
}

.boxTitleText {
  @extend .font-weight-bolder !optional;
  @extend .text-uppercase !optional;
  @extend .mb-2 !optional;

  font-size: 16px;
}

.centeredText {
  @extend .text-center !optional;
  @extend .p-2 !optional;
}

.mutedText {
  color: var(--astuto-grey);
}

.smallMutedText {
  @extend .mutedText !optional;
  @extend .mt-1 !optional;
  @extend .mb-0 !optional;
  
  font-size: smaller;
}

.uppercaseText {
  @extend .text-secondary !optional;
  @extend .text-uppercase !optional;
  @extend .font-weight-light !optional;
  
  font-size: 13px;
}

.successText {
  @extend .text-success !optional;
  @extend .text-center !optional;
}

.dangerText {
  @extend .text-danger !optional;
  @extend .text-center !optional;
}

.descriptionText {
  @extend .text-muted !optional;

  max-height: 48px;
  overflow-y: hidden;
}