.header {
  @extend .navbar !optional;
  @extend .navbar-expand-md !optional;
  @extend .navbar-light !optional;

  position: sticky;
  z-index: 1;
  top: 0px;

  background-color: white;

  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgba(0, 0, 0, 0.25);

  box-shadow: 0 1px 4px rgba(0,0,0,0.15), 0 1px 8px rgba(0,0,0,0.15);

  margin-bottom: 1em;

  .brand {
    @extend .navbar-brand !optional;

    font-size: 18pt;
    font-weight: 700;

    .logo {
      @extend .d-inline-block !optional;
      @extend .align-top !optional;
      @extend .mr-2 !optional;

      height: 36px;
    }
  }

  .brandDisabled {
    pointer-events: none;
  }

  .navbarToggler {
    @extend .navbar-toggler !optional;

    &:focus {
      outline: none;
    }
  }

  .boardsNav {
    @extend .navbar-nav !optional;
    @extend .mr-auto !optional;

    .nav-item {
      @extend .badge !optional;
      @extend .text-uppercase !optional;
      
      font-size: 14px;
      text-align: left;

      a:hover { color: var(--primary-color); }
      
      &.active {
        @extend .badgeLight !optional;

        a { color: var(--primary-color) !important; }
      }
    }

  }

  .profileNav {
    @extend .navbar-nav !optional;
    @extend .ml-auto !optional;

    .profileToggle {
      @extend .nav-link !optional;
      @extend .dropdown-toggle !optional;

      &::after { vertical-align: middle; }
    }

    .fullname {
      color: var(--astuto-black);
      vertical-align: middle;
    }
  }

  .boards-dropdown {
    .dropdown-item {
      padding-top: 0.75rem;
      padding-bottom: 0.75rem;
    }
  }

  .dropdown-item:active {
    color: white !important;
    background-color: var(--primary-color);
  }

  .dropdown-header {
    text-transform: uppercase;
    color: var(--astuto-grey);
  }
}