.authenticationIndexPage {
  .oauthProvidersTitle {
    @extend .d-flex !optional;

    button {
      @extend .ml-2 !optional;

      height: min-content;
    }
  }

  .oAuthsList {
    @extend .pl-1 !optional;

    list-style: none;

    .oAuthListItem {
      @extend .d-flex !optional;
      @extend .justify-content-between !optional;
      @extend .my-2 !optional;
      @extend .p-3 !optional;

      .oAuthInfo {
        @extend .d-flex !optional;

        column-gap: 32px;

        .oAuthLogo { border-radius: 100%; align-self: center; }

        .oAuthName { font-size: 18px; }
      }
      
      .oAuthActions {
        @extend .d-flex !optional;

        align-self: center;
      }

      .defaultOAuthDiv {
        @extend .d-flex !optional;

        .defaultOAuthLabel { @extend .align-self-center !optional; }
      }
    }
  }
}

.authenticationFormPage {
  a.backButton {
    @extend .mb-2 !optional;
    @extend .align-self-start !optional;

    font-size: 18px;
  }

  .oAuthLogoPreview {
    @extend .d-block !optional;
    @extend .my-2 !optional;
  
    position: relative;
    display: inline-block;
    width: fit-content;
    height: fit-content;
  }
  
  .oAuthLogoPreview .oAuthLogoPreviewImg {
    display: block;
    height: 50px;
    width: auto;
  }
  
  .oAuthLogoPreview.oAuthLogoPreviewShouldDelete {
    border: 2px solid red;
    
    .oAuthLogoPreviewImg { filter: grayscale(100%); }
  }

  .oAuthLogoActions { @extend .d-flex !optional; }
}