.postStatusesList {
  @extend .p-0 !optional;
  @extend .m-0 !optional;
 
  list-style: none;
  
  .postStatusEditable {
    @extend .d-flex !optional;
    @extend .justify-content-between !optional;
    @extend .p-3 !optional;

    .postStatusEditableActions { 
      @extend .d-flex !optional; 
    }
  }
}

.postStatusForm {
  @extend .d-flex !optional;
  @extend .flex-grow-1 !optional;
  @extend .m-2 !optional;

  column-gap: 8px;

  .postStatusColorInput {
    flex: 0 1 100px;
  }
}